section.how-to-play
    h2(class="color-secondary") HOW TO PLAY
    .row
        img.symbol(src=`${my_template_config.asset_domain}/games/miami_blaze/icon-bet.png?updatedAt=${my_template_config.cache_bust_params}`)
        p Opens the bet menu. Select the bet you want to use in the game.
    .row
        img.symbol(src=`${my_template_config.asset_domain}/games/miami_blaze/icon-autoplay.png?updatedAt=${my_template_config.cache_bust_params}`)
        p Opens the auto play menu.
    .row
        include icon-info
        p Opens the game rules page.
    .row
        img.symbol(src=`${my_template_config.asset_domain}/games/miami_blaze/icon-spin.png?updatedAt=${my_template_config.cache_bust_params}`)
        p Starts the game play.
    .row
        img.symbol(src=`${my_template_config.asset_domain}/games/miami_blaze/icon-stop.png?updatedAt=${my_template_config.cache_bust_params}`)
        p Slam stops the current spin.
    .row
        include icon-sounds
        p Toggle sound ON/OFF.
    .row
        img.symbol(src=`${my_template_config.asset_domain}/games/miami_blaze/icon-turbo.png?updatedAt=${my_template_config.cache_bust_params}`)
        p Select between Normal, Fast, and Ultra Spin modes.
    div(style="margin: 2.5em 0")
        p BALANCE and BET labels show the current balance and total bet.