section
    h2(class="color-secondary") Win Table
    p
        | Win table amounts displayed are based on current amount selected.
    .grid.paytable

    .symbol-explainer
        .row
            div
                img(class='symbol' src=`${my_template_config.asset_domain}/games/miami_blaze/symbols/symbol-WC.webp?updatedAt=${my_template_config.cache_bust_params}`)
            div Wild Symbol
        div
            p
                | WILD appear on all reels
                br
                | WILD substitutes for all symbols except DOLPHIN and GOLD DOLPHIN symbols
    .symbol-explainer
        .row
            div
                img(class='symbol' src=`${my_template_config.asset_domain}/games/miami_blaze/symbols/symbol-COIN.png?updatedAt=${my_template_config.cache_bust_params}`)
            div DOLPHIN COIN SYMBOL
        div
            p
                | DOLPHIN Symbol appear on all reels
                br
                | DOLPHIN COIN substitutes all symbols except GOLD DOLPHIN symbol
    .symbol-explainer
        .row
            div
                img(class='symbol' src=`${my_template_config.asset_domain}/games/miami_blaze/symbols/symbol-GOLD_COIN.png?updatedAt=${my_template_config.cache_bust_params}`)
            div GOLD DOLPHIN SYMBOL
        div
            p
                | GOLD DOLPHIN Symbol appear on all reels
                br
                | GOLD DOLPHIN Symbol substitutes for all symbols except DOLPHIN symbol
                br
                | GOLD DOLPHIN Symbols may land with a value between 5x and 9x of the total Play amount
    .symbol-explainer
        .row
            div
                img(class='symbol' src=`${my_template_config.asset_domain}/games/miami_blaze/symbols/symbol-MYSTERY.webp?updatedAt=${my_template_config.cache_bust_params}`)
            div MYSTERY SYMBOL
        div
            p
                | MYSTERY symbol appears only during the bonus and can land on any vacant position on any reel.
                br
                | MYSTERY Symbol can result in either MULTIPLIER or JACKPOT or THE VORTEX Feature.